$side-pd: -126px;
$side-width: 210px;
$navbar-height: 66px;
$button-border-r: 5px;
$white-color: #fff;
$gray-color: rgb(86, 89, 91);
$o-gray-border-color: rgb(86, 89, 91, .3);
$o-gray-text-color: rgb(86, 89, 91, .8);
$gray-icon-color: rgb(86, 89, 91);
$background: rgb(86, 89, 91, .1);